<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lf.com.springbootstudy.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="lf.com.springbootstudy.domain.Log">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
    </resultMap>
    <select id="getLogs" resultMap="BaseResultMap">
select *from log
    </select>
    <select id="getLogs1" resultType="java.util.Map">
select id,name,DATE_FORMAT(time,"%Y-%m-%d %H:%i:%s") time from log
    </select>
    <select id="getLogs2" resultType="java.util.Map">
select *from log
    </select>

</mapper>