<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.demoredis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lf.demoredis.domain.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <select id="getUsers" resultMap="BaseResultMap">
        select * from user
    </select>

    <select id="getUserByIds" resultMap="BaseResultMap">
        select * from user
        <where>
            id  in
        <foreach collection="ids" item="item" open="(" index="index" close=")" separator=",">
            #{item}
        </foreach>
        </where>
    </select>

    <select id="getUserById" parameterType="int" resultMap="BaseResultMap">
        select * from user
        <where>
            id=#{id}
        </where>
    </select>
    <insert id="save" parameterType="com.lf.demoredis.domain.User">
        INSERT INTO `user`
        ( `userName`, `passWord`, `birthday`, `sex`, `address`)
        VALUES
         (#{userName}, #{passWord}, #{birthday},#{sex},#{address});
    </insert>
</mapper>